{% extends 'read.html' %}

{% block th %}
	<th class="border-top-0">#</th>
	<th class="border-top-0">Nombre del departamento</th>
	<th class="border-top-0">Encargado del departamento</th>
{% endblock %}
{% block foreach %}
	<tr>
		<td>{{ object.id }}</td>
		<td>{{ object.department_name }}</td>
		<td>{{ object.department_owner }}</td>
		<td>
			<a href="{% url 'update_department' object.id %}">
				<button type="button" class="btn btn-warning btn-xs btn-flat">
					<i class="fas fa-pencil-alt" style="color: white"></i>
				</button>
			</a>
			<a href="{% url 'delete_department' object.id %}">
				<button type="button" class="btn btn-danger btn-xs btn-flat">
					<i class="fas fa-trash-alt" style="color: white"></i>
				</button>
			</a>
		</td>
	</tr>
{% endblock %}
{% block create %}
	{% url 'create_department' %}
{% endblock %}
