{% extends 'read.html' %}

{% block th %}
	<th class="border-top-0">#</th>
	<th class="border-top-0">Carrera</th>
	<th class="border-top-0">Está activa</th>
{% endblock %}

{% block foreach %}
	<tr>
		<td>{{ object.id }}</td>
		<td>{{ object.career }}</td>
		{% if object.is_active %}
			<td>Sí</td>
		{% else %}
			<td>No</td>
		{% endif %}
		<td>
			<a href="{% url 'update_career' object.id %}">
				<button type="button" class="btn btn-warning btn-xs btn-flat">
					<i class="fas fa-pencil-alt" style="color: white"></i>
				</button>
			</a>
			<a href="{% url 'delete_career' object.id %}">
				<button type="button" class="btn btn-danger btn-xs btn-flat">
					<i class="fas fa-trash-alt" style="color: white"></i>
				</button>
			</a>
		</td>
	</tr>
{% endblock %}

{% block create %}
	{% url 'create_career' %}
{% endblock %}
