{% extends 'read.html' %}

{% block th %}
	<th class="border-top-0">#</th>
	<th class="border-top-0">Localidad</th>
	<th class="border-top-0">Municipio</th>
{% endblock %}

{% block foreach %}
	<tr>
		<td>{{ object.locality_id }}</td>
		<td>{{ object.locality_name }}</td>
		<td>{{ object.municipality }}</td>
		<td>
			<a href="{% url 'update_locality' object.id %}">
				<button type="button" class="btn btn-warning btn-xs btn-flat">
					<i class="fas fa-pencil-alt" style="color: white"></i>
				</button>
			</a>
			<a href="{% url 'delete_locality' object.id %}">
				<button type="button" class="btn btn-danger btn-xs btn-flat">
					<i class="fas fa-trash-alt" style="color: white"></i>
				</button>
			</a>
		</td>
	</tr>
{% endblock %}

{% block create %}
	{% url 'create_locality' %}
{% endblock %}
