{% extends 'read.html' %}

{% block th %}
	<th class="border-top-0">#</th>
	<th class="border-top-0">Username</th>
	<th class="border-top-0">Nombre(s)</th>
	<th class="border-top-0">Apellidos</th>
	<th class="border-top-0">Correo</th>
	<th class="border-top-0">Rol</th>
{% endblock %}

{% block foreach %}
	<tr>
		<td>{{ object.id }}</td>
		<td>{{ object.username }}</td>
		<td>{{ object.first_name }}</td>
		<td>{{ object.last_name }}</td>
		<td>{{ object.email }}</td>
		<td>
			{% if object.is_superuser %}
				Administrador
			{% else %}
				{{ object.groups }}
			{% endif %}
		</td>
		{% if not object.is_superuser %}
			<td>
				<a href="{% url 'update_user' object.id %}">
					<button type="button" class="btn btn-warning btn-xs btn-flat">
						<i class="fas fa-pencil-alt" style="color: white"></i>
					</button>
				</a>
				<a href="{% url 'delete_user' object.id %}">
					<button type="button" class="btn btn-danger btn-xs btn-flat">
						<i class="fas fa-trash-alt" style="color: white"></i>
					</button>
				</a>
			</td>
		{% endif %}
	</tr>
{% endblock %}

{% block create %}
	{% url 'create_user' %}
{% endblock %}
