{% extends 'base.html' %}
{% load static %}

{% block head %}
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
{% endblock %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-sm-12">
			<div class="white-box">
				<h3 class="box-title">Escuelas</h3>
				<div class="table-responsive">
					<table class="table text-nowrap">
						<thead>
						<tr>
							<th class="border-top-0">#</th>
							<th class="border-top-0">Escuela</th>
							<th class="border-top-0">Lema</th>
							<th class="border-top-0">Logo</th>
							<th class="border-top-0">Nivel</th>
							<th class="border-top-0">Control</th>
							<th class="border-top-0">Clave</th>
							<th class="border-top-0">Sostenimiento</th>
							<th class="border-top-0">Dirección</th>
							<th class="border-top-0">Municipio</th>
							<th class="border-top-0">Número de estudiantes</th>
							<th class="border-top-0">Número de maestros</th>
						</tr>
						</thead>
						<tbody>

						{% for school in school_list %}
							<tr>
								<td>{{ school.school_name }}</td>
								<td>{{ school.catchword }}</td>
								<td>{{ school.logo }}</td>
								<td>{{ school.level }}</td>
								<td>{{ school.control }}</td>
								<td>{{ school.clue }}</td>
								<td>{{ school.sustenance }}</td>
								<td>{{ school.location }}</td>
								<td>{{ school.municipality }}</td>
								<td>{{ school.student_population }}</td>
								<td>{{ school.teaching_population }}</td>
							</tr>
							<td>
								<a href="{% url 'update_school' user.id %}">
									<button type="button" class="btn btn-warning btn-xs btn-flat">
										<i class="fas fa-pencil-alt" style="color: white"></i>
									</button>
								</a>
								<a href="{% url 'delete_school' user.id %}">
									<button type="button" class="btn btn-danger btn-xs btn-flat">
										<i class="fas fa-trash-alt" style="color: white"></i>
									</button>
								</a>
							</td>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<a href="{% url 'create_school' %}">
				<button type="button" class="btn btn-primary">Agregar</button>
			</a>
		</div>
	</div>
{% endblock %}
