{% extends 'read.html' %}

{% block th %}
	<th class="border-top-0">#</th>
	<th class="border-top-0">Escuela</th>
	<th class="border-top-0">Lema</th>
	<th class="border-top-0">Logo</th>
	<th class="border-top-0">Nivel</th>
	<th class="border-top-0">Control</th>
	<th class="border-top-0">Clave</th>
	<th class="border-top-0">Sostenimiento</th>
	<th class="border-top-0">Dirección</th>
	<th class="border-top-0">Municipio</th>
	<th class="border-top-0">Número de estudiantes</th>
	<th class="border-top-0">Número de maestros</th>
{% endblock %}

{% block foreach %}
	<tr>
		<td>{{ object.school_name }}</td>
		<td>{{ object.catchword }}</td>
		<td>{{ object.logo }}</td>
		<td>{{ object.level }}</td>
		<td>{{ object.control }}</td>
		<td>{{ object.clue }}</td>
		<td>{{ object.sustenance }}</td>
		<td>{{ object.location }}</td>
		<td>{{ object.municipality }}</td>
		<td>{{ object.student_population }}</td>
		<td>{{ object.teaching_population }}</td>
	</tr>
	<td>
		<a href="{% url 'update_school' object.id %}">
			<button type="button" class="btn btn-warning btn-xs btn-flat">
				<i class="fas fa-pencil-alt" style="color: white"></i>
			</button>
		</a>
		<a href="{% url 'delete_school' object.id %}">
			<button type="button" class="btn btn-danger btn-xs btn-flat">
				<i class="fas fa-trash-alt" style="color: white"></i>
			</button>
		</a>
	</td>
{% endblock %}

{% block create %}
	{% url 'create_school' %}
{% endblock %}

