{% extends 'read.html' %}

{% block th %}
	<th class="border-top-0">Clave de procedencia</th>
	<th class="border-top-0">Escuela</th>
	<th class="border-top-0">Ciudad de procedencia</th>
	<th class="border-top-0">Procedencia</th>
	<th class="border-top-0">Modo de bachillerato</th>
{% endblock %}

{% block foreach %}
	<tr>
		<td>{{ object.cve_proc }}</td>
		<td>{{ object.nom_proc }}</td>
		<td>{{ object.ciu_proc }}</td>
		<td>{{ object.reg_proc }}</td>
		<td>{{ object.mod_bac }}</td>
		<td>
			<a href="{% url 'update_school' object.cve_proc %}">
				<button type="button" class="btn btn-warning btn-xs btn-flat">
					<i class="fas fa-pencil-alt" style="color: white"></i>
				</button>
			</a>
			<a href="{% url 'delete_school' object.cve_proc %}">
				<button type="button" class="btn btn-danger btn-xs btn-flat">
					<i class="fas fa-trash-alt" style="color: white"></i>
				</button>
			</a>
		</td>
	</tr>
{% endblock %}

{% block create %}
	{% url 'create_school' %}
{% endblock %}

